@model List<Device>

<h2>Device List</h2>
<ul>
    @foreach (var device in Model)
    {
        <li>@device.Name - @device.Paired

            <form asp-action="UpdateDevice" method="post">

                @if (device.Paired)
                {
                    <input type="hidden" name="id" value="@device.Id" />
                    <input type="hidden" name="paired" value="false" />
                    <button type="submit" class="btn btn-warning" >Pair false</button>
                }

                @if (device.Paired == false)
                {
                    <input type="hidden" name="id" value="@device.Id" />
                    <input type="hidden" name="paired" value="true" />
                    <button type="submit" class="btn btn-success">Pair true</button>
                }

            </form>



        </li>
    }
</ul>
