@model List<Group>

<h2>Grupper</h2>

<ul>
    @foreach (var group in Model)
    {
        <h2>@group.Name</h2>

        @foreach  (var device in group.Devices)
        {
            <li>@device.Name</li>
        }

    }
</ul>